## OpenAI model config
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT=
API_VERSION=

# doc intelligence config
DOCUMENT_INTELLIGENCE_ENDPOINT=
DOCUMENT_INTELLIGENCE_KEY=

## OCR Model Config:
VISION_ENDPOINT=
VISION_KEY=

# Basic model config
BATCH_SIZE_FOR_PAGE=
OCR_DPI=
DISPLAY_DPI=
BATCH_SIZE=
MAX_WORKERS=